<input
  type="text"
  ngxScanDetect
  [skipStart]="2"
  [debounce]="1000"
  autocomplete="off"
  [workMode]="'multiple'"
  [matTooltipPosition]="'right'"
  placeholder="Type or scan code"
  (delete)="onDelete($event)"
  [disabled]="isMobile || isTablet"
  (detected)="onDetected($event)"
  matTooltip="Press the focus on the input box and scan the item" />

<div class="common-info">Codes: {{ exampleCodes | json }}</div>

<div class="container-info">
  Input Type: {{ inputType }} <br />
  Entry Time: {{ delayTime }}
</div>

<div class="common-info">
  {{ isMobile || isTablet ? 'Not supported on mobile devices.' : userAgent }}
</div>
