<div>
  <mat-form-field>
    <input matInput
           type="text"
           maxlength="14"
           autocomplete="off"
           #searchElementRef
           [(ngModel)]="query"
           [matTooltipPosition]="'right'"
           placeholder="Type or scan code"
           [disabled]="isMobile || isTablet"
           matTooltip="Press the focus on the input box and scan the item"
           (ngModelChange)="onQueryChange($event)">
  </mat-form-field>
</div>
<div class="container-info">
  <mat-card>Input Type: {{inputType}} <br> Entry Time: {{delayTime}}</mat-card>
</div>
<div class="device-info">
  {{(isMobile || isTablet) ? 'Not supported on mobile devices.' : userAgent}}
</div>
